.button {
  background-color: #055a08; /* Green */
  border: none;
  color: rgb(235, 143, 6);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

